{% include "./header.html" %}
<div class="row justify-content-center p-4 m-0" style="gap: 24px">
  <div class="card leave_card">
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center alert-success text-dark"
    >
      <h4>Approved leaves </h4>
      <h5>Total: {{total_approved_leaves}}</h5>
    </div>
    <div class="card-footer">
      <a
        href="/leaves?type=Approved"
        type="button"
        class="btn btn-outline-info btn-block {% if total_approved_leaves == 0 %} disabled {% endif %}"
      >
        view
      </a>
    </div>
  </div>
  <div class="card leave_card">
    <div
      class="card-body d-flex flex-column justify-content-ce%nter align-items-center alert-danger text-dark"
    >
      <h4>Rejected leaves</h4>
      <h5>Total: {{total_rejected_leaves}}</h5>
    </div>
    <div class="card-footer">
      <a
        href="/leaves?type=Rejected"
        type="button"
        class="btn btn-outline-info btn-block {% if total_rejected_leaves == 0 %} disabled {% endif %}"
      >
        view
      </a>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center p-4">
  <div class="card" style="width: 64rem">
    <div class="card-header d-flex" style="align-items: baseline">
      <h5 style="width: 100%; text-align: center">Pending leaves</h5>
    </div>
    <div class="card-body">
      <div class="row px-3">
        {% if data %}
        {% for d in data %}
        <div class="col col-12 col-lg-6 p-2">
          <div class="card" style="height: 100%">
            <div class="card-body p-3">
              <div class="row">
                <div class="col col1 text-uppercase">
                  <h6>USN: {{d.user_id}}</h6>
                </div>
                <div class="col col4 text-capitalize">
                  <h6>Name: {{d.name}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col col1 text-capitalize">
                  <h6>Type: {{d.leave_type}}</h6>
                </div>
                <div class="col col4">
                  <h6>Total days: {{d.total_days}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col col1">
                  <h6>From: {{d.date_from}}</h6>
                </div>
                <div class="col col4">
                  <h6>To: {{d.date_to}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6>Reason:</h6>
                  <h6>&nbsp;&nbsp;&nbsp;&nbsp;{{d.reason}}</h6>
                </div>
              </div>
            </div>
            <div class="card-footer d-flex" style="gap: 16px">
              <div style="width: 100%">
                <form action="/action/" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value={{d.id}} name="leave_id" />
                  <input type="hidden" value="Approved" name="status" />
                  <button
                    type="submit"
                    class="btn btn-outline-success btn-block btn-sm"
                  >
                    Approve
                  </button>
                </form>
              </div>
              <div style="width: 100%">
                <form action="/action/" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value={{d.id}} name="leave_id" />
                  <input type="hidden" value="Rejected" name="status" />
                  <button
                    type="submit"
                    class="btn btn-outline-danger btn-block btn-sm"
                  >
                    Reject
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {%else%}
          <h6 class='text-capitalize text-center text-success' style='width:100%;'>no pending leaves</h6>
        {% endif%}
      </div>
    </div>
  </div>
</div>
