{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leave ManageMent</title>
    <script src="{% static 'assets/jquery.slim.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static "assets/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/custom.css" %}" />
  </head>
  <body>
    <h3 class="bg-primary text-center p-3 text-light">Leave Management</h3>
    <div class="p-4">
      <div class="row justify-content-center" style="gap: 32px">
        <div class="card" style="width: 18rem">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center alert-success text-dark"
          >
            <h4>Total leaves: 8</h4>
            <h5>Sick: 8</h5>
            <h5>Others: 8</h5>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline-info btn-block">
              view
            </button>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center alert-danger text-dark"
          >
            <h4>Pending Requests</h4>
            <h5>Total: 8</h5>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline-info btn-block">
              view
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
