{% include "./common/header.html" %}
<div class="d-flex justify-content-center p-4">
  <div class="card" style="width: 48rem">
    <div class="card-header d-flex" style='align-items:baseline'>
      <a href='/' class='btn btn-outline-primary btn-sm'>Back</a>
      <h5 style='width:calc(100% - 80px); text-align:center;'> {{status}} leaves</h5>
    </div>
    <div class="card-body">
      <div class="row px-3">
        {% for d in data %}
        <div class="col col-12 col-lg-6 p-2">
          <div class="card" style='height:100%;'>
            <div class="card-body p-3">
              {% if is_student == 0 %}
              <div class="row">
                <div class="col col1">
                  <h6 class='text-uppercase'>USN: {{d.user_id}}</h6>
                </div>
                <div class="col col4">
                  <h6 class='text-capitalize'>Name: {{d.name}}</h6>
                </div>
              </div>
              {% endif %}
              <div class="row">
                <div class="col col1">
                  <h6 class='text-capitalize'>Type: {{d.leave_type}}</h6>
                </div>
                <div class="col col4">
                  <h6>Total days: {{d.total_days}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col col1">
                  <h6>From: {{d.date_from}}</h6>
                </div>
                <div class="col col4">
                  <h6>To: {{d.date_to}}</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6>Reason:</h6>
                  <h6>&nbsp;&nbsp;&nbsp;&nbsp;{{d.reason}}</h6>
                </div>
              </div>
            </div>
            {% if  is_student and status == 'Pending'%}
            <div class="card-footer">
              <form action="/cancel/" method="POST">
                {% csrf_token %}
                <input type="hidden" value={{d.id}} name="leave_id" />
                <button
                  type="submit"
                  class="btn btn-outline-danger btn-block btn-sm"
                >
                  cancel
                </button>
              </form>
            </div>
            {%endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</body>

</html>